<form class="container">
  <div class="col-md-10">
    <section class="col-md-6">
      <div class="site-content">
        <h2>Calculadora Básica</h2>
        <div class="col-md-12">
          <app-input (sendValue)="getNum1($event)" [name]="'N1'"></app-input>
          <app-input (sendValue)="getNum2($event)" [name]="'N2'"></app-input>
          <app-select (sendOpt)="getOpt($event)"></app-select>
          <app-button (click)="calc()"></app-button>
        </div>
      </div>
      <app-show-answers
        *ngIf="visibility"
        [result]="result.toString()"
      ></app-show-answers>
    </section>
  </div>
</form>
